<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Categories</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">

                            <% if(auth==3){ %>
                                <div class="col-auto">

                                    <a href="/categories/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New category</button>
                                    </a>

                                </div>
                                <% } %>

                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <form class="form-group">
                    <div class="d-flex flex-row-reverse justify-content-between align-items-center" id="filterBns">

                        <div class="d-flex  justify-content-center align-items-center">
                            <label for="searchField">Search:</label>
                            <input type="text" class="form-control" id="searchField" style="max-width: 250px;">
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-content" id="orders-table-tab-content">
                <div class="fade show">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table id="categoryTable" class="table  app-table-hover mb-0" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>

                                            <th class="cell">CategoryID</th>
                                            <th class="cell">Name</th>
                                            <th class="cell">Option</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% categoriesData.forEach(function(category) { %>
                                            <tr>
                                                <td class="cell">
                                                    <%= category.ID %>
                                                </td>
                                                <td class="cell">

                                                    <%= category.Name %>

                                                </td>
                                                <td>
                                                    <a href="/categories/edit/<%=category.ID%>">
                                                        <button type="button"
                                                            class="btn app-btn-secondary">Edit</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->

                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->


                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                    style="color: #fb866a;"></i> by Students of <a class="app-link"
                    href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank">PSG TECH</a> for Coimbatore City
                Police Commissioner Office</small>

        </div>
    </footer>
    <!--//app-footer-->

</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    var status = '<%= status %>';
    console.log(status);
    if (status == 'Addsuccess') {
        alertify.success('Category Added Successfully!');
    } else if (status == 'Editsuccess') {
        alertify.success('Category Updated Successfully!');

    } else if (status == 'Deletesuccess') {
        alertify.success('Category Deleted Successfully!');

    } else if (status == 'Existerror') {
        alertify.warning('Category Already Exists!');
    }
</script>