<footer class="app-footer">
    <div class="container text-center py-3">
        <small class="copyright"><span class="text-success font-weight-bold">
                &lt;&#47;&gt;</span>
            </span> by students of <a class="app-link" href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank">
                AMCS, PSG TECH</a> for Coimbatore City Police Commissioner Office.</small>
    </div>
</footer>