<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl d-grid gap-5">

            <div class="col-auto">
                <h1 class="app-page-title mb-0">New Issue Voucher</h1>
            </div>
            <div class="col-auto">
                <form action="/outvouchers" method="POST">
                    <div class="d-grid gap-5">
                        <div class="row">
                            <label for="voucher-id" class="col-form-label">Voucher ID:</label>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control text-center" name="IV" value="IV" readonly>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" name="IVno" class="form-control" id="req-receiverid" name="ivid" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <select id="item-name-drop" class="form-control" required>
                                            <option value="<year>">
                                                <!-- Years drop-down list -->
                                            </option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="station-id" class="col-form-label">Station ID:</label>
                                    <div class="row">
                                        <select id="item-name-drop" class="form-control" required>
                                            <option value="<station-id>">
                                                <!-- Station ID drop-down list -->
                                            </option>
                                        </select>
                                    </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="scheme-id" class="col-form-label">Scheme:</label>
                                    <div class="row">
                                        <select id="item-name-drop" class="form-control" required>
                                            <option value="<scheme>">
                                                <!-- Scheme drop-down list -->
                                            </option>
                                        </select>
                                    </div>                                
                            </div>
                        </div>
                        <div id="message-validate" class="mb-3 d-none">
                            <div class="alert alert-danger" role="alert">
                                <strong>
                                    Please add items to the list before submitting.
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="scheme-id" class="col-form-label">Add Item:</label>
                                    <div class="row">
                                        <ul class="added-items-ul">

                                        </ul>
                                        <div class="col-sm-2">
                                            <select id="item-name-drop" class="form-control" required>
                                                <option>Grenade</option>
                                                <!-- <% itemRows.forEach(function(item) { %>
                                                    <option value="<%= item.ID %>">
                                                        <%= item.Name %>
                                                    </option>
                                                    <% }) %> -->
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-control w-75 d-inline" id="item-qty-required" type="number" min="0"
                                            step="1" placeholder="Required" required>                                       
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-control w-75 d-inline" id="item-qty-passed" type="number" min="0"
                                            step="1" placeholder="Passed" required>                             
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" id="req-item-add" class="btn app-btn-secondary">Add</button>
                                            <input type="text" id="added-JSON" name="addedJSON" class="d-none">
                                        </div>  
                                    </div>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" id="submit-btn-ov" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->

</div>