<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Schemes</h1>
                </div>


                <form action="/schemes/new" method="POST">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="station-name" class="col-form-label">Scheme
                                Name:</label>
                            <input class="form-control mt-2" id="station-name" name="schemename" autocomplete="off"
                                required>
                        </div>

                    </div>
                    <div class="modal-footer d-inline-block mt-3">
                        <button type="button" class="btn btn-secondary" onclick="history.back()"
                            style="margin-right: 15px;">Back</button>
                        <input type="submit" class="btn btn-primary text-white">

                    </div>
                </form>


                <!--//col-auto-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                    style="color: #fb866a;"></i> by Students of<a class="app-link"
                    href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank"> PSG TECH</a> for Coimbatore City
                Police Commissioner Office</small>

        </div>
    </footer>
    <!--//app-footer-->

</div>