<html>
    <head>
        <link id="pagestyle" href="/public/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    </head>
    <body>
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
<!-- Add the side bar and header and I've tried to edit the ejs loop code, idk if it's correct... -->   

<!--

    <tbody>
                                        <% requestsData.forEach(function(request) { %>
                                            <tr>
                                                <td class="cell">
                                                    <%= request.ID %>
                                                </td>
                                                <td class="cell">
                                                    <%= request.StationID %>
                                                </td>
                                                <td class="cell">
                                                    <% Object.keys(reqItemlist).forEach(function(rID) { %>
                                                        <% if (rID==request.ID) { %>
                                                            <% Object.keys(reqItemlist[rID]).forEach(function(item) { %>
                                                                <%= item %> x<%= reqItemlist[rID][item] %><br>
                                                                        <% }) %>
                                                                            <% } %>
                                                                                <% }) %>
                                                </td>
                                                <td class="cell">
                                                    <%= request.Approval %>
                                                </td>    4th column to be request issue date? not the approval one?
                                            </tr>
                                            <% }); %>
                                    </tbody>-->
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-center	">
                                <thead>
                                    <tr>
                                        <th class="cell">ID</th>
                                        <th class="cell">StationID</th>
                                        <th class="cell">Items</th>
                                        <th class="cell">Request Date</th>
                                    </tr>
                                </thead>
                            <!-- Top 5 recent requests-->
                                 <tbody>
                                    <tr>
                                        <td class="cell">#15346</td>
                                        <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet
                                                eget
                                                volutpat erat</span></td>
                                        <td class="cell">John Sanders</td>
                                        <td class="cell"><span>17 Oct</span><span class="note">2:16
                                                PM</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cell">#15345</td>
                                        <td class="cell"><span class="truncate">Consectetur adipiscing
                                                elit</span></td>
                                        <td class="cell">Dylan Ambrose</td>
                                        <td class="cell"><span class="cell-data">16 Oct</span><span
                                                class="note">03:16 AM</span></td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cell">#15344</td>
                                        <td class="cell"><span class="truncate">Pellentesque diam
                                                imperdiet</span></td>
                                        <td class="cell">Teresa Holland</td>
                                        <td class="cell"><span class="cell-data">16 Oct</span><span
                                                class="note">01:16 AM</span></td>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="cell">#15343</td>
                                        <td class="cell"><span class="truncate">Vestibulum a accumsan lectus
                                                sed
                                                mollis ipsum</span></td>
                                        <td class="cell">Jayden Massey</td>
                                        <td class="cell"><span class="cell-data">15 Oct</span><span
                                                class="note">8:07 PM</span></td>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="cell">#15342</td>
                                        <td class="cell"><span class="truncate">Justo feugiat neque</span>
                                        </td>
                                        <td class="cell">Reina Brooks</td>
                                        <td class="cell"><span class="cell-data">12 Oct</span><span
                                                class="note">04:23 PM</span></td>
                                        </td>
                                    </tr>
                                </tbody> 
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </body>
</html>